/* ==========================================================================
   Normalize
   ========================================================================== */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


/* ==========================================================================
   Element Styles
   ========================================================================== */

body {
  background: url('../static/img/body_background.jpg') no-repeat;
  background-size: cover;
  font: 100% 'Overlock', Arial;
  min-width: 900px;
}

header {
  background-color: #5E7A9B;
  background-image: -ms-linear-gradient(top, #5E7A9B 0%, #41546B 100%);
  background-image: -moz-linear-gradient(top, #5E7A9B 0%, #41546B 100%);
  background-image: -o-linear-gradient(top, #5E7A9B 0%, #41546B 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5E7A9B), color-stop(1, #41546B));
  background-image: -webkit-linear-gradient(top, #5E7A9B 0%, #41546B 100%);
  background-image: linear-gradient(to bottom, #5E7A9B 0%, #41546B 100%);
  border-top-left-radius: 30px;
  height: 100px;
  position: relative;
  width: 750px;
}

section {
  display: none;
  height: 460px;
  position: relative;
}


/* ==========================================================================
   Custom Styles
   ========================================================================== */

.mainWrapper {
  background-image: url('../static/img/question_background.jpg');
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 560px;
  margin: 75px auto;
  text-align: center;
  width: 850px;
}


/*** next and previous buttons ***/
.nextButtons {
  font-size: 2.5em;
  position: relative;
  width: 750px;
  z-index: 1;
}

.nextQ, .prevQ {
  background-color: transparent;
  border: none;
  color: grey;
  outline: none;
  position: absolute;
  top: 180px;
}

.nextQ {
  right: 25px;
}

.prevQ {
  left: 25px;;
}

/*** header ***/
#mainTitle {
  color: #cfcfef;
  font: 4.5em 'Londrina Outline', Arial;
  padding-top: 10px;
}

#startOver {
  color: #fff;
  background-color: rgba(221, 169, 87, 0.78);
  border-radius: 100%;
  font-size: .8em;
  height: 55px;
  outline: none;
  width: 55px;
  position: absolute;
  left: 20px;;
  top: 71px;
  z-index: 1;
}

#startOver:hover {
    background-color: rgba(230, 190, 99, 0.78);
}


/*** progress sidebar ***/
.progressWrapper {
  color: #e5e5e5;
  border-bottom-right-radius: 30px;
  background-color: rgba(94, 122, 155, 0.4);
  height: 560px;
  width: 100px;
}

#progressTitle {
  padding: 15px 0
}

.progressCircle {
  background-color: #c9c9c9;
  border: 2px solid #c9c9c9;
  border-radius: 100%;
  color: grey;
  display: block;
  font-size: .8em;
  height: 35px;
  margin: 10px auto;
  outline: none;
  width: 35px;
}

.progressCircleHL {
  background-color: #a3a3a3;
  border: 2px solid grey;
}

#progressCount {
  padding: 15px 0
}

.notes {
  background-image: url('../img/notes2.png');
  background-size: 100%;
  text-indent: 200%;
}

.x {
  background-image: url('../img/x.png');
  background-size: 100%;
  text-indent: 200%;
}


/*** welcome screen ***/
#startQuiz {
  display: block;
  position: relative;
}

#startButton {
  background-color: rgb(230, 190, 99);
  border-radius: 25px;
  color: #434343;
  height: 35px;
  margin-top: 15px;
  outline: none;
  width: 100px;
}

#startButton:hover {
  background-color: rgba(230, 190, 99, 0.49);
}

#musicNotes {
  margin-top: 10px;
  margin-bottom: -150px;
  width: 750px;
}

#musicTree {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 150px;
}


/*** question wrapper ***/
#questionWrapper {
  height: 460px;
  width: 750px;

}

.questionText {
  color: #4d4d4d;
  font-size: 1.5em;
  padding: 45px 50px 0;
}

.feedbackWrapper {
  background-color: #d4d4d4;
  height: 100px;
  width: 750px;
  position: absolute;
  bottom: 0;
}

.needHint {
  background-color: transparent;
  border: none;
  color: grey;
  font: .8em Arial;
  margin: 45px 0 0 0;
  outline: none;
}

.hint {
  color: grey;
  display: none;
  padding: 42px 50px;
}

.correctText, .incorrectText {
  display: none;
}

.correctText {
  color: #5E7A9B;
  font: 3em 'Oleo Script', Arial;
  margin-top: 20px;
}

.incorrectText {
  color: #9a3131;
  font: 1.5em 'Oleo Script', Arial;
  margin-top: 18px;
}

.qPic {
  width: 40px;
}

.qPic2 {
  width: 100px;
}

#measuresPic {
  width: 450px;
}


/*** user choices ***/
.answerWrapper {
  color: #4d4d4d;
  height: 260px;
  margin-top: 25px;
}

.choiceImg {
  width: 60px;
}

.topChoices {
  padding: 25px 0;
}

.bottomChoices {
  padding: 25px 0 0;
}

.choice {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  outline: none;
  display: inline-block;
  margin: 0 60px;
}

.greyOut {
  opacity: .1;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/** {
  outline: 1px dashed red;
}*/
